# Entorno y Secretos (CRÍTICO)
.env
.env.*
!.env.example
*.pem
*.key
*.id_rsa

# Dependencias Node.js / Angular
node_modules/
dist/
.angular/
npm-debug.log*

# Floci / Datos locales / Docker
.floci/
data/
*.log

# Sistema Operativo y Editores
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
